html {
  background-color: #1c1f22;
  color: white;
  padding-top: 1em;
  font-family: "Lato", Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h1 {
  text-align: center;
  font-family: "Lato", Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 5em;
  font-weight: 400;
}

.board-container {
  margin-top: 3em;
  display: flex;
  justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: 10em 10em 10em;
  grid-template-rows: 10em 10em 10em;
  gap: 1.2em;
}

.square {
  background-color: #46505c;
  /* color: black; */
  font-size: 8em;
  font-family: "Montserrat";
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: -3px -3px #0a0a0a;
}

.square-x,
.square-o {
  position: relative;
  bottom: 3px;
  right: 3px;
  text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.5);
}

.square-x {
  background-color: #df781d;
  font-size: 7.5em;
  box-shadow: 3px 3px 2px #6b3404;
}

.square-o {
  background-color: #2596bb;
  box-shadow: 3px 3px 2px #094153;
}

.square-highlighted {
  outline: 2px solid white;
  box-shadow: 1px 1px 14px white;
}

.turn-indicator {
  font-size: 2em;
  text-align: right;
  margin-top: 0.75em;
  margin-right: 0.5em;
}

.turn-indicator-tile {
  display: inline-block;
  text-align: center;
  line-height: 2em;
  width: 2em;
  height: 2em;
  font-size: 2rem;
  margin-left: 0.3em;
}

.play-again {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1em auto;
  width: 6em;
  height: 2em;
  font-size: 2em;
  background-color: #5c6674;
  border: 1px solid white;
  border-radius: 8px;
  cursor: pointer;
}
